<h1>ランチに行ったお店の実績を管理するページ</h1>
<%# 実績をテーブル形式で表示 %>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>店名</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <tr class="data">
      <td>2022/10/05</td>
      <td>吉野家</td>
      <td>牛丼並、美味しい</td>
    </tr>
  </tbody>
</table>
<div class="login_form">
  <%= link_to "トップページに戻る", tops_path, class: 'login_btn' %>
</div>
