<div class="top_page">
  <% if user_signed_in? %>
    <h5 class="subtitle">ようこそ!</h5>
    <h5 class="subtitle"> ログインユーザー： <%= current_user.email %>さん </h5>
  <% else %>
    <div class="login">
      <h5 class="login_message"> 現在ログインしていません </h5>
      <div class="login_form">
        <%= link_to "ログインする", new_user_session_path, class: 'login_btn' %>
      </div>
    </div>
  <% end %>
</div>

<h1>タイムライン</h1>
<p>右側にフォロー中一覧を表示（直近フォロー５件を表示）</p>
<div class="login_form">
  <%= link_to "実績一覧を確認する", stores_path, class: 'login_btn' %>
</div>
