<h1>フォロー一覧を表示する</h1>
<%# フォローしている人がいるか判定 %>
<% if @user.followings.present? %>
  <% @user.followings.each do |user| %>
    <%= user.email %>
  <% end %>
<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>

<%# フォローしている人がいれば、ループ処理して全員を表示 %>
<%# フォローしている人がいなければ、テキストを表示 %>
<%# フォローしている人はfollowing_usersに格納 %>
