@charset "UTF-8";

.table {
  font-family: 'Ubuntu Mono', monospace;
}

.top_page_btn {
  display: flex;
  justify-content:center ;
  background-color: azure;
  width: 20%;
  height: 50px;
  border-radius: 5px;
  align-items: center;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #adb5bd;
  color: #e5530e;
  text-decoration: none;
}

.to_top_page {
  margin-top: 5%;
  display: flex;
  justify-content: center ;
}

// .history {
//   background-color: #ffffff;
//   font-family: 'Ubuntu Mono', monospace;
//   background-image: image-url("pastel_2.jpg");
//   background-repeat: no-repeat;
// }

