@charset "UTF-8";

.history {
  font-family: 'Ubuntu Mono', monospace;
  background-image: image-url("ddd.jpg");
  background-repeat: no-repeat;
  height: 700px;
  color: azure;
  background-color: #2418189c;
}

.aaa {
  color: #e8e8e89c;
  background-color: #e8e8e89c;
}
